@charset "UTF-8";
.content{
    min-height: 210px;
}
.code{
    overflow: hidden;
}
.vertify{
    display: inline;width: 60%;
}
.code img{
    height: 34px;float: right;vertical-align: bottom;width: 38%;
}
.checkbox{
    margin-top: 5px;margin-bottom: 6px;
}
.large-header {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  background-image: url('../img/lockscreen/lock.jpg');
  top: 0;
  left: 0;
}
.lockscreen-logo{
  color: #fff;
}