<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="__STATIC__/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
        {if condition="$name"}
          <p>{$name}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        {/if}  
        </div>
      </div>
      <!-- search form -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="__ROOT__">
            <i class="fa fa-cubes text-info"></i> <span>Map</span>
          </a>
        </li>
        <li class="treeview">
          <a href=''>
            <i class="fa fa-edit text-aqua"></i> <span>Blog</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href='__ROOT__/add'><i class="fa fa-circle-o text-aqua"></i> News</a></li>
            <li><a href=''><i class="fa fa-circle-o text-danger"></i> Angular</a></li>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-line-chart text-danger"></i> <span>Lottery</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{:url('demo')}"><i class="fa fa-circle-o text-red"></i> BeiJing PK10</a></li>
            <li><a href="{:url('demo')}"><i class="fa fa-circle-o text-yellow"></i> ChongQing ShiShiCai</a></li>
            <li><a href="{:url('demo')}"><i class="fa fa-circle-o text-aqua"></i> XinJiang ShiShiCai</a></li>
            <li><a href="{:url('demo')}"><i class="fa fa-circle-o text-blue"></i> TianJin ShiShiCai</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href=''>
            <i class="fa fa-video-camera text-warning"></i> <span>Vedio</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=''><i class="fa fa-list"></i> Video List</a></li>
            <li><a href=''><i class="fa fa-edit"></i> Add New Video</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href=''>
            <i class="fa fa-music text-green"></i> <span>Music</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href=''><i class="fa fa-list"></i> Music List</a></li>
            <li><a href=''><i class="fa fa-edit"></i> Add New Music</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href=''>
            <i class="fa fa-github-alt text-danger"></i> <span>Code</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href='__ROOT__/index/material/command'><i class="fa fa-circle-o text-info"></i> Command</a></li>
            <li><a href='__ROOT__/index/material/album3D'><i class="fa fa-circle-o text-warning"></i> 3D Album</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href=''>
            <i class="fa fa-book text-blue"></i> <span>Bookmark</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="https://github.com/Leooman"><i class="fa fa-github"></i> <span>Github</span></a></li>
            <li><a href="http://blog.csdn.net/qq_33797888/article/"><i class="fa fa-share-alt"></i> <span>CSDN</span></a></li>
            <li><a href="#"><i class="fa fa-facebook-official"></i> <span>Facebook</span></a></li>
            <li><a href="#"><i class="ion ion-social-twitter"></i> <span>Twitter</span></a></li>
            <li><a href="#"><i class="ion ion-social-googleplus"></i> <span>Google+</span></a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>